BOT_TOKEN=8672426875:AAFezCccWCvgdSv8yehFhWpM4Eq26kTiZrs
JWT_SECRET=uQ3whS5hbK8iaN2dmA0Musa10koVsP1yrT
DATABASE_URL=postgresql://user:password@localhost:5433/blender
TONAPI_KEY=AGUQ573BPHVKTJAAAAAKJQF5QR2ERYYWOU6QZ44SYSEBDETLJMXUUU67AFVNMX6DB2UNNEA
TON_ENDPOINT=https://mainnet-v4.tonhubapi.com
TON_NETWORK=mainnet
VRF_SECRET=FezCcYYWOU6QZ44SYSEBFMusa10koVNMX6DQ573BPB2DETcWCvgNMMMus